#postPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 100%;
}

#postTop {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 80px;
}

#postImg {
    width: 300px;
    height: 300px;
}

#postRight {
    margin-left: 30px;
    width: 470px;
}

#postHeader {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
}

#postDate {
    margin-top: 20px;
    color: #007bff;
    font-weight: normal;
    margin-bottom: 5y0px;
}

#postMeta {
    color: #c7c7c7;
}

#postContent {
    margin-top: 40px;
    width: 800px;
    margin-bottom: 40px;
    font-size: 15px;
    color: #444;
}

#postContent > p {
    margin-bottom: 30px;
}

#backBtn {
    position: absolute;
    left: -50px;
    font-size: 20px;
}

#backBtn:hover {
    cursor:pointer;
}