#postPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#postList {
    width: 1000px;
    margin-bottom: 100px;
    margin-top: 20px;
}

#postList > *:first-child {
    border-top: 1px solid #d7d7d7;
}

#postItem {
    border-bottom: 1px solid #d7d7d7;
    padding: 40px 0;
    display: flex;
}

#postItem:hover {
    cursor: pointer;
}

#postImg {
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

#postTitle {
    margin: 0;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

#postDate {
    margin-top: 20px;
}