:root {
    --primary-color: #007bff;
    --light-color: #f7f7f7;
    --dark-color: #2c2c2c;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--dark-gray);
}

a:hover {
    color: var(--primary-color);
}

.input {
    max-width: 822px;
    min-width: 0;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    padding: 14px 30px;
    font-size: 16px;
    color: black;
    font-family: "Poppins", sans-serif;
}

.input:focus {
    outline: none;
    border-width: 2px;
    border-color: var(--primary-color);
}

.input::placeholder {
    font-size: 16px;
    color: #777;
    font-family: "Poppins", sans-serif;
}

.input-textarea {
    height: 253px;
    padding: 14px 30px;
}

.btn {
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    background: #007bff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    max-width: 259px;
    padding: 14px 14px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    color: #fff;
}

.btn:focus {
    outline: none;
}

.service-item {
    max-width: 336px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    margin: 25px;
    display: flex;
    flex-direction: column;
    padding: 0 28px;
}

.service-item > i {
    margin-top: 50px;
    font-size: 48px;
    color: #007bef;
}

.service-item h3 {
    margin-top: 48px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.service-item p {
    margin-top: 20px;
    max-width: 282px;
}

.service-item a {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #007bef;
}

.fs-16p {
    font-size: 16px;
}

.fs-18p {
    font-size: 18px
}

.fs-22p {
    font-size: 22px;
}

.fs-30p {
    font-size: 30px;
}

.fs-48p {
    font-size: 48px;
}

.fs-60p {
    font-size: 60px;
}

.fs-90p {
    font-size: 90px;
}

.ff-rob {
    font-family: "Roboto", sans-serif;
}

.ff-pop {
    font-family: "Poppins", sans-serif;
}

.fw-bold {
    font-weight: bold;
}

.bg-primary {
    background: var(--primary-color);
}

.bg-light {
    background: var(--light-color);
}

.bg-dark {
    background: var(--dark-color);
}

.co-primary {
    color: var(--primary-color);
}

.co-white {
    color: #fff;
}

.mt-50p {
    margin-top: 50px;
}

.mt-80p {
    margin-top: 80px;
}

.mt-120p {
    margin-top: 120px;
}

.mt-180p {
    margin-top: 180px;
}

.mb-30p {
    margin-bottom: 30px;
}

.mb-70p {
    margin-bottom: 70px;
}

.mb-100p {
    margin-bottom: 100px;
}

.my-50p {
    margin: 50px 0;
}

.span-2 {
    grid-column: 1 / span 2;
}

.span-22 {
    grid-column: 2 / span 2;
}

.span-3 {
    grid-column: 1 / span 3;
}

.ta-center {
    text-align: center;
}

.choose-item {
    max-width: 422px;
    margin: 35px 35px;
}

.choose-item h3 {
    margin-bottom: 20px;
}

/* service-group */

.service-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 60px;
    padding-bottom: 80px;
}

.service-head {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    max-width: 400px;
}

.service-head h2 {
    margin-bottom: 20px;
}

/* service-detail */

.service-detail {
    max-width: 400px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    padding: 0 40px;
    border-radius: 10px;
    margin: 0 40px;
    margin-top: 80px;
    background: #fff;
}

.service-detail i {
    margin-top: 60px;
}

.service-detail h2 {
    margin-top: 46px;
}

.service-detail p {
    margin-top: 20px;
    margin-bottom: 60px;
}

.container {
    width: 100%;
    padding: 0 60px;
}

@media(max-width: 1250px){

}

@media(max-width: 700px){

    .fs-90p {
        font-size: 60px;
    }

    .fs-18p {
        font-size: 16px;
    }

    .fs-22p {
        font-size: 17px;
    }

    .service-group {
        padding: 20px;
    }

    .service-head {
        margin: 20px 0;
    }

    .service-detail {
        max-width: 300px;
        margin: 20px 20px;
        padding: 20px;
    }

    .service-detail i {
        margin-top: 20px;
    }

    .service-detail h2 {
        margin-top: 20px;
    }

    .service-detail p {
        margin-bottom: 20px;
    }

    .container {
        padding: 0 20px;
    }
}

@media(max-width: 400px) {

    .fs-90p {
        font-size: 40px;
    }

    .fs-60p {
        font-size: 30px;
    }

    .fs-30p {
        font-size: 20px;
    }

    .container {
        padding: 0 16px;
    }

    .service-item {
        margin: 25px 5px;
    }
}