@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');


/* Navbar */

#nav {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}

#nav img {
    margin: 20px 0;
    max-width: 295px;
    height: 76px;
}

#nav ul {
    display: flex;
}

#nav ul li {
    margin-left: 50px;
}

#nav ul li:first-child {
    margin-left: 0px;
}

/* Mobile Nav */
#mobile-nav {
    display: none;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--dark-color);
    color: #fff;
}

#mobile-nav > * {
    padding: 14px 0;
}

#mobile-nav i {
    font-size: 22px;
}

/* Landing */

#landing {
    background: url("../public/landing-min.png") no-repeat center center/cover;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    padding: 120px 0;
    padding-left: 240px;
    height: calc(100vh - 160px);
}

#landing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(04, 19, 50, 0.8);
    z-index: -1;
}

#landing h1{
    max-width: 532px;
    margin-bottom: 30px;
    padding: 0;
}

#landing p {
    max-width: 550px;
    margin-bottom: 50px;
}

/* Services */

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .container > h2 {
    margin-bottom: 60px;
}

#services .container > h3 {
    margin-top: 60px;
}

#services-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

/* Choose Us */

#choose-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choose-us .container > h2 {
    margin-bottom: 60px;
}

#choose-us .container > h3 {
    margin-top: 60px;
}

#choose-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

/* Contact */

#contact {
    padding: 80px 0;
}

#contact .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    margin-right: 60px;
}

#contact-info h2 {
    margin: 30px 0;
}

#contact-info p {
    margin-bottom: 80px;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form input {
    margin-bottom: 24px;
}

#contact-form p {
    margin-top: 20px;
    color: red;
    font-size: 18px;
}

.form-row > input:first-child {
    margin-right: 24px;
}

#contact-form button {
    margin-top: 24px;
}

/* Footer */

#footer {
    background-color: #041332;
    color: #fff;
}
  
#footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 40px;
}

#footer-border {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

#footer-list > * {
    width: 300px;
    margin: 0 40px;
    margin-bottom: 40px;
}

#footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-links-list > * {
    margin-bottom: 20px;
}

#footer-contact > * {
    margin-bottom: 20px;
} 

#footer-info p {
    line-height: 32px;
}

#footer .container > p {
    margin: 40px;
}

/* services-landing */

#landing-alt {
    height: 702px;
    background: url("../public/landing-min.png") no-repeat center center/cover;
    position: relative;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#landing-alt .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing-alt h1 {
    max-width: 620px;
    margin-top: 20px;
}

#landing-alt p {
    max-width: 762px;
    margin-top: 30px;
}

#landing-alt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(04, 19, 50, 0.8);
    z-index: -1;
}

/* find payment */
#find-payment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

#find-payment-section a{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 80px;
}

#find-payment-form {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 500px;
}

/* order detail detail */

#order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

#order-table {
    margin-top: 40px;
}

#order-table td{
    max-width: 400px;
    padding: 10px 30px;
}

/* billing information */

#billing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#billing-form {
    width: 500px;
}

#info-form {
    margin-top: 80px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#address-form {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* card information */

#card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

#card-section img{
    width: 160px;
    margin-top: 100px;
}

#card-element {
    padding: 14px 30px;
    width: 500px;
    margin-bottom: 60px;
    margin-top: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

/* payment success */

#payment-success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#payment-success p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#payment-success a {
    margin-bottom: 80px;
}


/* payment error */
#payment-error {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#payment-error .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#payment-error p {
    margin-top: 60px;
    margin-bottom: 30px;
}

@media(max-width: 1250px){

    #nav {
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }

    #nav ul {
        margin-bottom: 20px;
    }

    #landing {
        padding-left: 0;
        justify-content: center;
    }

    #landing .container {
        align-items: center;
    }

    #landing > * {
        text-align: center;
    }
}

@media(max-width: 800px){

    #contact-info {
        align-items: center;
        text-align: center;
        margin-right: 0;
    }

    #landing {
        padding: 0;
        height: calc(100vh - 160px);
    }

    #landing-alt {
        padding: 0;
        height: calc(100vh - 160px);
    }

    #contact-form {
        align-items: center;
    }

    .form-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #contact-form input {
        width: 95%;
        margin-right: 0;
    }

    #contact-form textarea {
        width: 95%;
        margin-right: 0;
    }

    #footer-links {
        justify-content: flex-start;
    }

    #footer-list > *:nth-child(1),
    #footer-list > *:nth-child(2) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 20px;
    }

    #footer-border {
        max-width: 300px;
    }

    #footer .container > p {
        width: 220px;
        margin: 40px;
        margin-bottom: 100px;
    }
}

@media(max-width: 700px){

    #nav ul{
        display: none;
    }

    #mobile-nav {
        display: grid;
    }

    #footer > p {
        margin: 40px;
        margin-bottom: 140px;
    }  
    
    #find-payment-form {
        margin-top: 20px;
        width: 80%;
    }

    #find-payment-section a {
        margin-top: 20px;
    }

    #billing-form {
        max-width: 80%;
    }

    #card-section form {
        max-width: 80%;
    }

    #card-element {
        max-width: 100%;
    }
}

@media(max-width: 400px){

    #landing {
        justify-content: center;
    }

    #landing-alt {
        justify-content: center;
    }

    #services .container > h2 {
        margin-bottom: 20px;
    }
    
    #services .container > h3 {
        margin-top: 40px;
    }
     
    #choose-us .container > h2 {
        margin-bottom: 20px;
    }

    #choose-us .container > h3 {
        margin-top: 40px;
    }

    #services-list {
        margin-bottom: 40px;
    }

    #choose-list {
        margin-bottom: 40px;
    }

    #contact-info h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    #contact-info p {
        margin-bottom: 40px;
    }
}